<div class="card border-secondary mb-3" style="max-width: 30rem; margin-left: 350px; margin-top: 10px;">
  <div class="card-header"><h5>Details</h5>
  <%= image_tag @user["avatar_url"], :class=>"avatar" %></div>
  <div class="card-body text-secondary">
              <p>  
                <strong>Id:</strong>
                <%= @user["id"] %>
              </p>
              <p>  
                <strong>Login:</strong>
                <%= @user["login"] %>
              </p>
              <p> 
                <strong>Name:</strong>
                <%= @user["name"] %>
              </p>
              <p> 
                <strong>Blog:</strong>
                <%= @user["blog"] %>
               </p>               
                <p> 
                <strong>Followers:</strong>
                <%= @user["followers"] %>
               </p>
               <p>
                 <strong>Following:</strong>
                <%= @user["following"] %>
               </p>
                <p>
                 <strong>Login Creation:</strong>
                <%= @user["created_at"] %>
               </p>
               <hr>
                <p> 
                <strong>Repositories Publics:</strong>
                <%= @user["public_repos"] %>
                <%= %>
               </p>             
             
              <%= link_to 'Voltar', api_users_path, :class=>'btn btn-outline-dark' %> |
            
  </div>
</div>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Repositori Name</th>
                <th>URL</th>
                
            </tr>
            </thead>

            <tbody>
                <% @public_repositories.each do |ls| %>
                    <tr>   
                        <td> <%= ls["id"] %></td>                     
                        <td> <%= ls["name"] %></td>
                        <td> <%= ls["url"]  %></td>  
                           
                    </tr>
            <%end%>
            </tbody>
        </table>
</div>