<div class="card border-secondary mb-3" style="max-width: 30rem; margin-left: 350px; margin-top: 10px;">
  <div class="card-header"><h5>Details</h5>
  <%= image_tag @user["avatar_url"], :class=>"avatar" %></div>
  <div class="card-body text-secondary">
              <p>  
                <strong>Id:</strong>
                <%= @user["id"] %>
              </p>
              <p>  
                <strong>Tipo Serviço:</strong>
                <%= @user["login"] %>
              </p>
              <p> 
                <strong>Name:</strong>
                <%= @user["name"] %>
              </p>
              <p> 
                <strong>Blog:</strong>
                <%= @user["blog"] %>
               </p>
                <p> 
                <strong>Repositories Publics:</strong>
                <%= @user["public_repos"] %>
               </p>
                <p> 
                <strong>Followers:</strong>
                <%= @user["followers"] %>
               </p>
                 <strong>Following:</strong>
                <%= @user["following"] %>
               </p>             
             
              <%= link_to 'Voltar', api_users_path, :class=>'btn btn-outline-dark' %> |
            
  </div>
</div>